table(class='board')
      tr
        td 
        td 
        td 
        td 
        td 
        td 
        td 
        td 
        td 
        td
      tr
        td 
        td 
        td 
        td 
        td 
        td 
        td 
        td 
        td 
        td
      tr
        td 
        td 
        td 
        td 
        td 
        td 
        td 
        td 
        td 
        td
      tr
        td 
        td 
        td 
        td 
        td 
        td 
        td 
        td 
        td 
        td
      tr
        td 
        td 
        td 
        td 
        td 
        td 
        td 
        td 
        td 
        td
      tr
        td 
        td 
        td 
        td 
        td 
        td 
        td 
        td 
        td 
        td
      tr
        td 
        td 
        td 
        td 
        td 
        td 
        td 
        td 
        td 
        td
      tr
        td 
        td 
        td 
        td 
        td 
        td 
        td 
        td 
        td 
        td
      tr
        td 
        td 
        td 
        td 
        td 
        td 
        td 
        td 
        td 
        td
      tr
        td 
        td 
        td 
        td 
        td 
        td 
        td 
        td 
        td 
        td